.input {
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 2rem 2rem 0;

  border: 1px solid var(--white-color);

  @extend .text-t3-up;
  color: var(--white-color);

  &::placeholder {
    color: rgba(255, 255, 255, 0.4);
  }

  &.is-error {
    border-color: var(--red-color);
  }

  @include mq('custom', 'max', 1024) {
    height: 6.6rem;
  }

  @include mq('custom', 'max', 768) {
    height: 6.2rem;
  }

  @include mq('custom', 'max', 640) {
    height: 5.7rem;
  }
}

.input-wrapper {
  position: relative;

  label {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: -1;

    @extend .text-t5;

    @include mq('custom', 'max', 768) {
      top: 1.4rem;

      font: var(--text-t4);
      font-weight: 400;
    }
  }

  &--textarea {
    .input {
      padding-top: 3.5rem;

      @include mq('custom', 'max', 768) {
        padding-top: 3.2rem;
      }
    }

    label {
      top: 1.5rem;

      @include mq('custom', 'max', 768) {
        top: 1.4rem;
      }
    }
  }
}

.parsley-errors-list {
  position: absolute;
  left: 2rem;
  top: calc(100% + 0.2rem);

  @extend .text-t5;
  color: var(--red-color)
}
