.contacts {
  &__title {
    margin-bottom: 6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 5.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 5rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 4.4rem;
    }
  }

  &__buttons {
    display: flex;
    margin-bottom: 3rem;
    margin-right: -3rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 4rem;
    }
  }

  &__button {
    margin-right: 3rem;

    @include mq('custom', 'max', 640) {
      font: var(--text-t2);
    }

    @include mq('custom', 'max', 360) {
      font: var(--text-t4);
    }

    &.is-active {
      color: var(--black-color);

      &::before, &::after {
        background-color: var(--white-color);
      }
    }
  }

  &__map {
    height: 50.9rem;

    background-color: var(--gray-color);
    border: 1px solid #161616;

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {
      margin-left: -3rem;
      width: calc(100% + 6rem);
    }

    @include mq('custom', 'max', 640) {
      margin-left: -2rem;
      width: calc(100% + 4rem);
    }
  }
}
