.intro {
  display: flex;
  padding: 3rem 0;
  height: 100vh;
  min-height: 101.5rem;

  background-color: var(--black-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    display: flex;
    flex-direction: column;
  }

  &__bottom {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    align-items: flex-end;
    margin-top: auto;
  }

  &__bottom-left {
    grid-column: span 7;
  }

  &__content-photo {
    width: 10rem;
    height: 10rem;
    margin-bottom: 4rem;

    svg, img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content-list {
    max-width: 51.3rem;

    @extend .text-t2-reg;
  }

  &__bottom-right {
    grid-column: span 5;
  }
}
