.intro-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3rem;

  @include mq('custom', 'max', 1024) {
    grid-template-columns: 1fr;
    gap: 0;

    &::before {
      content: '';

      display: block;
      height: calc(var(--header-height) + 2.6rem);
    }

    @include mq('custom', 'max', 768) {
      display: contents;
    }
  }

  &__left {
    grid-column: span 7;

    @include mq('custom', 'max', 1024) {
      grid-column: 1;
    }

    @include mq('custom', 'max', 768) {
      display: contents;
    }
  }

  &__title {
    @extend .title-h1;

    max-width: 78.5rem;

    span {
      color: var(--red-color);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9rem;

    @include mq('custom', 'max', 1024) {
      margin-top: 5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 3rem;
      order: 1;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 2rem;
      justify-content: space-between;
    }
  }

  &__button {
    @extend .text-t3-up;

    @include mq('custom', 'max', 640) {
      font: var(--text-t4);
    }

    &:first-child {
      margin-right: 4rem;

      @include mq('custom', 'max', 640) {
        margin-right: 2rem;
      }

      @include mq('custom', 'max', 360) {
        margin-bottom: 2rem;
      }
    }
  }

  &__right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-column: span 5;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__menu-list {
    display: grid;
    grid-template-columns: auto;
    gap: 2rem;
  }

  &__menu-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.active {
      .js-accordion-btn svg {
        transform: scale(-1);
        transform-origin: center;
      }
    }
  }

  &__menu-item-header {
    display: inline-grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;

    cursor: pointer;

    @extend .text-t3-up;

    svg {
      width: 1.3rem;
      height: 1.3rem;

      transition: 0.3s;
    }
  }

  &__menu-item-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    margin-top: 2rem;
  }

  &__menu-item-list-item {
    font: var(--text-t3);
  }

  &__search {
    @extend .text-t3-up;
  }

  &__logo {
    svg {
      width: 11.8rem;
      height: 7.7rem;
    }
  }
}
