.partners-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0;

  border-left: 1px solid var(--gray-color);

  &__item {
    position: relative;

    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26.5rem;

    border-right: 1px solid var(--gray-color);
    border-bottom: 1px solid var(--gray-color);

    @include mq('custom', 'max', 1024) {
      height: 21rem;
    }

    @include mq('custom', 'max', 768) {
      height: 16rem;
      grid-column: span 4;
    }

    @include mq('custom', 'max', 640) {
      height: 11.2rem;
    }

    &--link {
      @include mq('custom', 'max', 768) {
        display: none;
      }
    }

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      grid-column: span 4;
      height: 51.9rem;

      border-top: 1px solid var(--gray-color);

      @include mq('custom', 'max', 1024) {
        height: 40rem;
      }

      @include mq('custom', 'max', 768) {
        height: 30rem;
        grid-column: 1 / -1;
      }

      @include mq('custom', 'max', 640) {
        height: 20rem;
      }
    }

    &:nth-child(2), &:nth-child(3) {
      @include mq('custom', 'max', 768) {
        height: 21rem;
        grid-column: span 6;
      }

      @include mq('custom', 'max', 640) {
        height: 11.8rem;
      }
    }

    &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
      grid-column: span 3;
      height: 39.5rem;

      @include mq('custom', 'max', 1024) {
        height: 30rem;
      }

      @include mq('custom', 'max', 768) {
        height: 16rem;
        grid-column: span 4;
      }

      @include mq('custom', 'max', 640) {
        height: 11.2rem;
      }
    }

    &:nth-child(n + 7) {
      @include mq('custom', 'max', 768) {
        display: none;
      }
    }
  }

  &__item-link {
    position: static;
    @extend .text-t3-up;

    &::before {
      content: '';

      @extend .fill;
    }
  }
}
