mixin slider-navigation()
  .slider-navigation
    button.slider-navigation__button.js-prev-slide(aria-label="Назад")
      +icon-multi("arrow-down")
    button.slider-navigation__button.js-next-slide(aria-label="Вперед")
      +icon-multi("arrow-down")
