-
  const decisions = [
    {
      title: "Импортозамещение ИТ-инфраструктуры",
      text: "Подберем продукты с возможностью бесшовной интеграции с текущей инфраструктурой, учитывая риски и специфику компании."
    },
    {
      title: "Сервис",
      text: "Оказываем техническую поддержку, от поддержки оборудования и ПО до комплексной инфраструктуры"
    },
    {
      title: "Переговорные комнаты",
      text: "Проектируем и внедряем сложные мультимедийные комплексы с ВКС, системами бронирования и беспроводными презентациями, системами управления, акустическими системами."
    },
    {
      title: "Системы сбора и корреляция событий (SIEM)",
      text: "Автоматизируем процессы сбора, хранения, преобразования и выдачи информации об объектах IT-инфраструктуры, так и событий информационной безопасности в части IT-инфраструктуры."
    },
    {
      title: "Системы многофакторной аутентификации (MFA/2FA)",
      text: "Защищаем процедуру аутентификации сотрудников в различных системах за счет интеграции последних с системами многофакторной аутентификации."
    }
  ]

section.decisions.page-section--small
  .container
    header.decisions__header
      h2.decisions__title.section-title
        | #[span Каталог решений &nbsp;] для ваших задач
      .decisions__img
        +imgLazy("decision-1.svg")
    ul.decisions__list
      for item in decisions
        li.decisions__item
          h3.decisions__item-title= item.title
          p.decisions__item-text= item.text
          a.decisions__item-link(href="#")
            +icon-multi("decision-arrow")
    a.decisions__link.button.button--white(href="#")
      span смотреть все
      +icon-multi('arrow-right-2')
      +icon-multi('arrow-right')

