-
  const directions = [
    {
      img: "directions-1.svg",
      title: "Информационная безопасность",
      text: "Цифровая трансформация бизнеса с объединением лучших практик"
    },
    {
      img: "directions-2.svg",
      title: "Инженерная инфраструктура",
      text: "Вдохнем новую жизнь в ваши инженерные системы"
    },
    {
      img: "directions-3.svg",
      title: "ИТ-инфраструктура",
      text: "Масштабируем технологический ландшафт с учетом потребностей"
    },
    {
      img: "directions-4.svg",
      title: "Мультимедийные решения",
      text: "Поражающее многообразие пространственных решений"
    },
  ]

section.directions.page-section--medium#directions-target(data-scroll-section)
  .container
    +section-header(
      "Создаем эффективные&nbsp; <span class='red'> ИТ-&nbsp;решения</span> для&nbsp;бизнес-задач",
      "Направления",
      "button--white"
    ).section-header--white
    ul.directions__list
      for item in directions
        li.directions__item
          +direction-card(item.title, item.img, item.text)

