-
  const introList = [
    "Внедряем комплексные проекты и строим высокотехнологичный ИТ-ландшафт,",
    "трансформируем ИТ-инфраструктуру, ",
    "снижаем риски угроз информационной безопасности,",
    "проектируем надежные инженерные системы и мультимедиа-комплексы различного масштаба и уровня сложности.",
  ]

-
  const introSlider = [
    {link: "#", img: "intro-slider-1.jpg"},
    {link: "#", img: "intro-slider-2.jpg"},
    {link: "#", img: "intro-slider-3.jpg"},
  ]

section.intro.page-section--small(style="background-image: url('./assets/images/intro-bg.png')" data-scroll-section)
  .container
    +intro-header("Создаем&nbsp;<span class='red' data-scroll data-scroll-sticky data-scroll-offset='70' data-scroll-target='#intro-target'> цифровое превосходство<span>", false, true)#intro-target
    .intro__bottom
      .intro__bottom-left
        .intro__content-photo
          +icon-multi("intro-photo")
        ul.intro__content-list
          for item in introList
            li.intro__content-item= item
      .intro__bottom-right
        .intro__slider.swiper
          +slider-navigation()
          .swiper-wrapper
            for item in introSlider
              a.intro__slide.swiper-slide(href=item.link)
                +pictureLazy(item.img)



