main.page-main.main
  include intro
  include numbers
  include news
  include directions
  include decisions
  include order
  include projects
  include reviews
  include manufacturers
  +licenses().page-section--small


//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
