-
  const manufacturers = [
    {
      link: "#",
      img: "manufacturers-1.png"
    },
    {
      link: "#",
      img: "manufacturers-2.png"
    },
    {
      link: "#",
      img: "manufacturers-3.png"
    },
    {
      link: "#",
      img: "manufacturers-4.png"
    },
    {
      link: "#",
      img: "manufacturers-5.png"
    },
    {
      link: "#",
      img: "manufacturers-6.png"
    },
    {
      link: "#",
      img: "manufacturers-7.png"
    },
    {
      link: "#",
      img: "manufacturers-8.png"
    },
    {
      link: "#",
      img: "manufacturers-9.png"
    },
    {
      link: "#",
      img: "manufacturers-10.png"
    },
    {
      link: "#",
      img: "manufacturers-11.png"
    },
    {
      link: "#",
      img: "manufacturers-12.png"
    },
  ]

section.manufacturers.page-section--large(data-scroll-section)
  .container
    +section-header("Мы работаем с&nbsp;ведущими вендорами и производителями", "Смотреть все", "button--white").section-header--white
    +partners-list(manufacturers)
