-
  const news = [
    {
      title: "«Dатару» и ИМБА ИТ заключили соглашение о партнерстве",
      tag: "ИМБА ИТ в СМИ",
      date: "12 / 10 / 2023",
      img: "news-1.jpg",
    },
    {
      title: "Счёт не любят: в России возобновились споры о нехватке айтишников",
      tag: "Мероприятия",
      date: "13 / 10 / 2023",
      text: "Число российских пользователей ChatGPT за последний месяц сократилось на 30%, подсчитали аналитики Tele2 (абсолютные показатели не приводятся). Это первое падение трафика сервиса с момента его запуска в ноябре 2022 г"
    },
    {
      title: "\"ИМПОРТОЗАМЕЩЕНИЕ И РЕАЛЬНОСТЬ\" пройдет 22 июня",
      tag: "Мероприятия",
      date: "07 / 10 / 2023",
      img: "news-2.jpg",
    },
    {
      title: "«Dатару» и ИМБА ИТ заключили соглашение о партнерстве",
      tag: "ИМБА ИТ в СМИ",
      date: "12 / 10 / 2023",
      img: "news-1.jpg",
    },
    {
      title: "Счёт не любят: в России возобновились споры о нехватке айтишников",
      tag: "Мероприятия",
      date: "13 / 10 / 2023",
      text: "Число российских пользователей ChatGPT за последний месяц сократилось на 30%, подсчитали аналитики Tele2 (абсолютные показатели не приводятся). Это первое падение трафика сервиса с момента его запуска в ноябре 2022 г"
    },
    {
      title: "\"ИМПОРТОЗАМЕЩЕНИЕ И РЕАЛЬНОСТЬ\" пройдет 22 июня",
      tag: "Мероприятия",
      date: "07 / 10 / 2023",
      img: "news-2.png",
    },
  ]

section.news.page-section--very-large.js-news-section(data-scroll-section)
  .container
    +section-header("Новости", "Медиацентр", "button--white").section-header--white
    .news__slider-container
      .news__navigation
        .swiper-pagination
        +slider-navigation("news-arrow-1", "news-arrow-2")
      .news__slider.swiper.js-news-slider
        .swiper-wrapper
          for item in news
            .news__slide.swiper-slide
              +news-card(item.title, item.tag, item.date, item.img, item.text)

