-
  const projects = [
    {
      title: "Внедрение и настройка одной из самых масштабных инсталляций MaxPatrol SIEM по России.",
      tag: "телеком",
      list: [
        "Написано с нуля более 40 новых правил нормализации под другой транспорт для источника CheckPoint (нормализовано более 85% событий.)",
        "Настроена интеграция нескольких инсталляций SIEM в виде иерархического взаимодействия",
        "Проведена оптимизация сканирований для минимизации ложных срабатываний и негативных последствий на инфраструктуру."
      ]
    },
    {
      title: "Миграция РАМ-системы с решения Wallix (СКДПУ) на SafeInspect.",
      tag: "телеком",
      list: [
        "«Бесшовный переход» с одного решения на другое без прерывания доступа подрядчиков к системам.",
        "Настройка функционала автоматической ротации пароля (минимизированы риски несанкционированного доступа по причине компрометации учетной записи с правами администратора).",
      ]
    },
    {
      title: "Демонстрация решения по сетевой безопасности компании",
      tag: "телеком",
      list: [
        "Подбор решения среди российских производителей взамен изначально заинтересовавшего решения (зарубежный вендор, прекративший работу в России);",
        "Пилотные проекты на основе нескольких решений российских производителей;",
        "Внедрение решения, обеспечивающего применение единых политик безопасности для пользователей распределенных структур.",
      ]
    },
    {
      title: "Установка Web Application Firewall (WAF). Защита главного сайта компании и банковского приложения",
      tag: "телеком",
      list: [
        "Установка и монтаж оборудования Positive Technologies Application Firewall;",
        "Настройка политик безопасности для главного сайта компании и ритейла;",
        "Создание отказоустойчивой конфигурации для защиты веб-приложений с резервированием на двух ЦОД.",
      ]
    },
  ]

section.projects.page-section--medium(data-scroll-section)
  .container
    +section-header("Наши <br> проекты", "Смотреть все", "button--white").section-header--white
    .projects__slider-container
      .projects__slider.swiper
        .swiper-wrapper
          for item in projects
            .projects__slide.swiper-slide
              h3.projects__slide-title= item.title
              .projects__slide-wrapper
                span.projects__slide-tag.tag.tag--black.tag--normal= item.tag
                ul.projects__slide-list
                  for i in item.list
                    li.projects__slide-item= i
