-
  const footerDirections = [
    {
      text: "Информационная безопасность",
      link: "#"
    },
    {
      text: "ИТ-инфраструктура",
      link: "#"
    },
    {
      text: "Мультимедийные решения",
      link: "#"
    },
    {
      text: "Инженерная инфраструктура",
      link: "#"
    },
  ]

-
  const footerNavigation = [
    {
      text: "Каталог решений",
      link: "#"
    },
    {
      text: "Наш опыт ",
      link: "#"
    },
    {
      text: "Партнеры",
      link: "#"
    },
    {
      text: "Медиацентр",
      link: "#"
    },
    {
      text: "О компании",
      link: "#"
    },
    {
      text: "Контакты",
      link: "#"
    },
  ]

footer.footer(data-scroll-section data-scroll data-scroll-offset="10%")
  .container
    nav.footer__wrapper
      .footer__column
        .footer__block
          h4.footer__subtitle
            | Москва
          address.footer__address
            | Научный проезд, 14А, стр. 1, БЦ SMART PARK
          a.footer__phone.link(href="tel:+74959693977")
            | +7 (495) 969 39 77
        .footer__block
          h4.footer__subtitle
            | Санкт-Петербург
          address.footer__address
            | Лиговский проспект, 50 к. 12, офис 23
          a.footer__phone.link(href="tel:+78127673967")
            | +7 (812) 767-39-67
      .footer__column
        .footer__block
          h4.footer__subtitle
            | Email
          a.footer__email.link(href="mailto:hello@imba-it.ru")
            | hello@imba-it.ru
        .footer__block
          h4.footer__subtitle
            | Соцсети и мессенджеры
          ul.footer__socials
            li.footer__social
              a.footer__social-link(href="#")
                +imgLazy("socials-1.svg")
            li.footer__social
              a.footer__social-link(href="#")
                +imgLazy("socials-2.svg")
      .footer__column
        .footer__block
          h4.footer__subtitle
            | Направления
          ul.footer__menu
            for item in footerDirections
              li.footer__menu-item
                a.footer__menu-item-link.link(href=item.link)= item.text
        .footer__block
          h4.footer__subtitle
            | Навигация
          ul.footer__menu
            for item in footerNavigation
              li.footer__menu-item
                a.footer__menu-item-link.link(href=item.link)= item.text
      .footer__column
        .footer__block
          h4.footer__subtitle
            | Оставите заявку на бесплатную консультацию
          form.footer__form(action="#" data-need-validation)
            .footer__inputs
              .footer__input-wrapper.input-wrapper
                input.footer__input.input(type="text" name="footerName" id="footerName" placeholder="Имя" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$" required)
                label.footer__label(for="footerName")
                  | Как к вам обращаться
              .footer__input-wrapper.input-wrapper
                input.footer__input.input(type="email" name="footerEmail" id="footerEmail" placeholder="Mail" data-parsley-pattern=`/^\\w+@\\w+\\.\\w+$/` required)
                label.footer__label(for="footerEmail")
                  | Эл. почта
              .footer__input-wrapper.input-wrapper.input-wrapper--textarea
                textarea.footer__textarea.input(name="footerComment" id="footerComment")
                label.footer__label(for="footerComment")
                  | Комментарий
            p.footer__confidence
              | Нажимая кнопку «Отправить», вы соглашаетесь с условиями нашей &nbsp; #[a(href="#") Политики конфиденциальности]
            button.footer__button.button.button--white(type="submit")
              span Отправить
              +icon-multi("arrow-right")
    .footer__bottom
      a.footer__logo(href="/")
        +icon-multi('logo')
      .footer__inn
        h4.footer__bottom-subtitle
          | ИНН
        span.footer__bottom-info
          | 7736131037
      .footer__ogrn
        h4.footer__bottom-subtitle
          | ОГРН
        span.footer__bottom-info
          | 1157746278667
      span.footer__copyright
        | © ИМБА ИТ, 2023
      span.footer__developer
        | Создание сайта Mark Weber
