.loader
  +icon-multi("logo")

style.
  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--black-color);

    transition: .4s ease;
  }

  @media (max-width: 1024px) {
    .loader svg {
      width: 20rem;
    }
  }

  @media (max-width: 640px) {
    .loader svg {
      width: 13rem;
    }
  }

  .animatable .loader {
    opacity: 0;
    visibility: hidden;
  }
