.direction-card {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 51.3rem;
  height: 100%;

  background-color: var(--white-color);
  color: var(--black-color);

  @include mq('custom', 'max', 768) {
    min-height: auto;
  }

  @include mq('custom', 'max', 640) {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.6rem;
    padding: 1.5rem;
  }

  @include mq('custom', 'max', 350) {
    gap: 0.5rem;
  }

  &__title {
    margin-bottom: 3.5rem;
    @extend .text-t1;


    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 0;
      font: var(--title-h4);
    }

    @include mq('custom', 'max', 350) {
      font: var(--title-h5);
    }
  }

  &__img {
    width: 100%;
    height: 40rem;
    margin: auto;

    @include mq('custom', 'max', 1024) {
      height: 30rem;
    }

    @include mq('custom', 'max', 768) {
      height: 16rem;
      margin-bottom: 0;
    }

    @include mq('custom', 'max', 640) {
      width: 7.4rem;
      height: 7.4rem;
      order: -1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__text {
    margin-top: auto;
    @extend .text-t2-up;

    @include mq('custom', 'max', 768) {
      display: none;
    }
  }

  &__link {
    @extend .fill;
    opacity: 0;
  }
}
