.news-card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;

  background-color: var(--white-color);
  color: var(--black-color);

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: auto;
    max-height: 21.4rem;
  }

  &__title {
    margin-bottom: 3rem;

    @extend .title-h5;
    @include maxSizeText(5);
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  &__date {
    font: var(--text-t3);
  }

  &__img {
    width: 100%;
    height: 19.7rem;
    margin-top: 4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.6rem;
    margin-top: 4rem;

    @extend .text-t2-reg;
    @include maxSizeText(7);
  }
}
