.directions {
  .section-header {
    margin-bottom: 12rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  &__item {
    &:first-child {
      grid-column: 2 / 3;
    }
  }
}
