.news {
  .section-header {
    margin-bottom: 12rem;
  }

  .section-header__title {
    @include mq('custom', 'max', 768) {
      margin-bottom: 6.5rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 4rem;
    }
  }

  &__slider-container {
    display: flex;
    align-items: flex-end;

    @include mq('custom', 'max', 768) {
      margin-bottom: 4.6rem;
    }
  }

  &__navigation {
    position: relative;

    flex-shrink: 0;
    width: 38rem;
    margin-right: 3rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  .swiper-pagination {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);

    width: auto;

    font-weight: 500;

    span {
      display: inline-block;
      margin: 0 0.8rem;
    }
  }

  .slider-navigation {
    align-items: flex-end;
    gap: 23.5rem;

    &__button {
      transform: none;

      &:first-child {
        svg {
          width: 4rem;
          height: 10.4rem;
        }
      }

      &:last-child {
        svg {
          width: 10.5rem;
          height: 37rem;
        }
      }
    }
  }

  &__slider {
    min-width: 0;
    min-height: 51.4rem;

    @include mq('custom', 'max', 1024) {
      min-height: 45rem;
      overflow: visible;
    }

    @include mq('custom', 'max', 768) {
      min-height: 40rem;
    }

    @include mq('custom', 'max', 640) {
      min-height: 35.7rem;
    }

    .swiper-wrapper {
      width: auto;
    }
  }

  &__slide {
    width: calc((100% - 30px * 2) / 3);
    height: auto;

    @include mq('custom', 'max', 1024) {
      width: 37.7rem;
    }

    @include mq('custom', 'max', 640) {
      width: 26.1rem;
    }
  }
}
