.numbers {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5rem 3rem;
    align-items: flex-start;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('custom', 'max', 768) {
      gap: 2rem 1rem;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-end;

    @include mq('custom', 'max', 374) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }

    &--one-column {
      display: flex;
      flex-direction: column;
      gap: 0;
      align-items: flex-start;

      @include mq('custom', 'max', 374) {
        &#{&} {
          display: flex;
          flex-direction: column;
        }
      }
    }

    &--inner {
      position: relative;

      .numbers__card-text {
        position: relative;
        right: 21rem;
        bottom: 1.5rem;

        width: 14rem;

        color: var(--black-color);

        @include mq('custom', 'max', 1024) {
          right: 14rem;
        }

        @include mq('custom', 'max', 768) {
          right: 11rem;
          width: 11rem;
        }

        @include mq('custom', 'max', 640) {
          right: 9.7rem;
        }

        @include mq('custom', 'max', 374) {
          position: static;

          width: auto;
          color: var(--white-color);
        }
      }
    }

    &:nth-child(1) {
      grid-column: span 8;

      @include mq('custom', 'max', 1024) {
        grid-column: span 1;
      }

      @include mq('custom', 'max', 820) {
        grid-column: span 2;
        align-items: flex-start;
      }

      .numbers__card-number {
        margin-right: 2.7rem;
        font: var(--other-2);

        @include mq('custom', 'max', 768) {
          margin-right: 0.3rem;
        }
      }

      .numbers__card-text {
        max-width: 17.7rem;
        color: var(--red-color);
      }
    }

    &:nth-child(2) {
      grid-column: span 4;

      @include mq('custom', 'max', 1024) {
        grid-column: span 1;
      }

      @include mq('custom', 'max', 820) {
        grid-column: span 2;
        align-items: flex-end;
        margin-left: auto;
        margin-top: 1rem;
      }

      .numbers__card-number {
        margin-bottom: 3rem;

        font: var(--other-3);
        color: var(--red-color);

        @include mq('custom', 'max', 768) {
          margin-bottom: 2rem;
        }

        @include mq('custom', 'max', 374) {
          margin-bottom: 1rem;
          font-size: 13rem;
        }
      }

      .numbers__card-text {
        max-width: 32rem;

        @include mq('custom', 'max', 768) {
          max-width: 16rem;
        }
      }
    }

    &:nth-child(3) {
      grid-column: 3 / 9;
      margin-top: 7rem;

      @include mq('custom', 'max', 1024) {
        grid-column: span 1;
      }

      @include mq('custom', 'max', 820) {
        margin-top: 0;
        grid-template-columns: 1fr;
        gap: 0;
      }

      @include mq('custom', 'max', 374) {
        grid-column: span 2;
      }

      .numbers__card-number {
        margin-right: 1.5rem;
        font: var(--other-4);

        @include mq('custom', 'max', 820) {
          margin-bottom: 2rem;
        }

        @include mq('custom', 'max', 768) {
          font-size: 11rem;
        }

        @include mq('custom', 'max', 374) {
          margin-bottom: 1rem;
        }
      }

      .numbers__card-text {
        max-width: 35rem;

        @include mq('custom', 'max', 768) {
          word-break: break-all;
        }

        @include mq('custom', 'max', 374) {
          max-width: 16rem;
        }
      }
    }

    &:nth-child(4) {
      grid-column: span 4;
      margin-top: 7rem;

      @include mq('custom', 'max', 1024) {
        grid-column: span 1;
      }

      @include mq('custom', 'max', 820) {
        margin-top: 9rem;
      }

      @include mq('custom', 'max', 374) {
        grid-column: span 2;
        margin-top: 0;
        align-items: flex-end;
      }

      .numbers__card-number {
        margin-bottom: 2rem;
        font: var(--other-3);

        @include mq('custom', 'max', 768) {
          font-size: 11rem;
        }

        @include mq('custom', 'max', 374) {
          margin-bottom: 1rem;
        }
      }

      .numbers__card-text {
        max-width: 35rem;

        @include mq('custom', 'max', 374) {
          max-width: 16rem;
        }
      }
    }

    &:nth-child(5) {
      grid-column: 3 / 9;

      @include mq('custom', 'max', 1024) {
        grid-column: span 1;
      }

      @include mq('custom', 'max', 820) {
        grid-column: span 2;
      }

      .numbers__card-number {
        font: var(--other-1);

        @include mq('custom', 'max', 374) {
          font-size: 13rem;
        }
      }
    }
  }

  &__card-text {
    @extend .text-t2-up;

    @include mq('custom', 'max', 768) {
      font: var(--text-t3);
      font-size: 1.4rem;
    }

    span {
      @include mq('custom', 'max', 768) {
        display: none;
      }
    }
  }
}
