@import "./helpers/**/*";
/* stylelint-disable no-invalid-position-at-import-rule */
:root {
  /* Colors */
  --black-color: #0E0E0E;
  --white-color: #ffffff;
  --gray-color: #676767;
  --red-color: #F23F27;

  /* Layout containers */
  --max-container-width: 160rem;
  --content-padding: 4rem;

  /* Font Family */
  --main-ff: 'TT Norms', sans-serif;
  --secondary-ff: 'IMBA FONT', sans-serif;

  /* Font Weight */
  --bold: 700;
  --medium: 500;
  --regular: 400;

  /* Text */
  --text-t1: var(--medium) 3rem/120% var(--main-ff);
  --text-t2: var(--regular) 2rem/120% var(--main-ff);
  --text-t2-bold: var(--bold) 2rem/120% var(--main-ff);
  --text-t3: var(--regular) 1.5rem/120% var(--main-ff);
  --text-t3-medium: var(--medium) 1.5rem/120% var(--main-ff);
  --text-t4: var(--medium) 1.3rem/110% var(--main-ff);
  --text-t5: var(--regular) 1.2rem/120% var(--main-ff);

  /* Titles */
  --title-h1: var(--medium) 8rem/100% var(--main-ff);
  --title-h2: var(--medium) 7rem/100% var(--main-ff);
  --title-h3: var(--medium) 6rem/100% var(--main-ff);
  --title-h4: var(--medium) 4rem/120% var(--main-ff);
  --title-h5: var(--medium) 2.5rem/120% var(--main-ff);

  /* Other Typography */
  --other-1: var(--regular) 35.5rem/62% var(--secondary-ff);
  --other-2: var(--regular) 32.3rem/62% var(--secondary-ff);
  --other-3: var(--regular) 17.3rem/62% var(--secondary-ff);
  --other-4: var(--regular) 11rem/62% var(--secondary-ff);
}

@include mq('custom', 'max', 1024) {
  :root {
    /* Layout containers */
    --content-padding: 3rem;

    /* Text */
    --text-t1: var(--medium) 2.5rem/120% var(--main-ff);

    /* Titles */
    --title-h1: var(--medium) 5rem/100% var(--main-ff);
    --title-h2: var(--medium) 4rem/100% var(--main-ff);
    --title-h3: var(--medium) 3.2rem/100% var(--main-ff);
    --title-h4: var(--medium) 2.8rem/120% var(--main-ff);
    --title-h5: var(--medium) 2.2rem/120% var(--main-ff);

    /* Other Typography */
    --other-1: var(--regular) 23rem/62% var(--secondary-ff);
    --other-2: var(--regular) 20rem/62% var(--secondary-ff);
    --other-3: var(--regular) 21rem/62% var(--secondary-ff);
    --other-4: var(--regular) 12rem/62% var(--secondary-ff);
  }
}

@include mq('custom', 'max', 640) {
  :root {
    /* Layout containers */
    --content-padding: 2rem;

    /* Text */
    --text-t1: var(--medium) 2rem/120% var(--main-ff);
    --text-t1-mobile-bold: var(--bold) 1.7rem/120% var(--main-ff);
    --text-t1-mobile-reg: var(--regular) 2rem/120% var(--main-ff);
    --text-t2: var(--regular) 1.6rem/120% var(--main-ff);
    --text-t2-bold: var(--bold) 1.6rem/120% var(--main-ff);
    --text-t3: var(--regular) 1.5rem/120% var(--main-ff);
    --text-t3-medium: var(--medium) 1.5rem/120% var(--main-ff);
    --text-t4: var(--medium) 1.2rem/110% var(--main-ff);
    --text-t5: var(--regular) 1rem/120% var(--main-ff);

    /* Titles */
    --title-h1: var(--medium) 3rem/100% var(--main-ff);
    --title-h2: var(--medium) 2.4rem/100% var(--main-ff);
    --title-h3: var(--medium) 2.2rem/100% var(--main-ff);
    --title-h4: var(--medium) 1.8rem/120% var(--main-ff);
    --title-h5: var(--medium) 1.6rem/120% var(--main-ff);

    /* Other Typography */
    --other-1: var(--regular) 16rem/62% var(--secondary-ff);
    --other-2: var(--regular) 12rem/62% var(--secondary-ff);
    --other-3: var(--regular) 14rem/62% var(--secondary-ff);
    --other-4: var(--regular) 12rem/62% var(--secondary-ff);
  }
}

$minWidth: 375;
$maxWidth: 1680; // Ширина макета
$base-transition-time: 0.3s;
$base-transition-easing: ease;

$overlay-color: rgba(0, 0, 0, 0.5);

$modal-bg-color: white;

@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./blocks/**/*";
@import "./pages/**/*";
